// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap');

@import 'variables/colors';

html {
    font-size: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: $white;
    position: relative;

    &.no-scroll {
        overflow: hidden;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem 0 1rem;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    vertical-align: top;
    background-color: rgba($grey-light, .5);
    color: $black;
    font-size: 1.06rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.1;
    width: 200px;
    padding: 15px 5px 15px 5px;
    margin: 0 5px 20px 5px;
    text-align: center;
    border: none;
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.8);
    }
}

.text-right {
    text-align: right;
    padding-right: 3.2rem;
}

.text-left {
    text-align: left;
    padding-left: 3.2rem;
}

.header {
    position: fixed;
    top: 0;
    padding: 1.2rem 0;
    background-color: #fff;
    width: 100%;
    height: 3rem;
    z-index: 5;
    border-bottom: 1px solid $grey-light;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.user {
    display: flex;

    &__avatar {
        width: 57px;
        height: 57px;

        img {
            display: block;
            width: 100%;
            border-radius: 100%;
        }
    }

    &__content {
        padding-left: 9px;
    }

    &__name {
        font-size: 1.06rem;
        line-height: 1.2;
        color: $black;
        font-weight: bold;
        margin-bottom: 3px;
    }

    &__prof {
        font-size: 0.8rem;
        color: rgba($black, .7);
    }
}

.navigation {
    position: relative;
    display: flex;
    height: 100%;

    &__link {
        margin-left: 2rem;
        font-size: 0.93rem;
        color: $black;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.hello {
    margin-top: 3rem;
    padding: 50px 0 20px 0;

    &__row {
        position: relative;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $grey-light;
    }

    &__content {
        width: 50%;
    }

    &__title {
        font-size: 2.5rem;
        color: $black;
        font-weight: 700;
        margin: 0;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: 2.13rem;
        color: $black;
        font-weight: 200;
        margin: 0;
        margin-bottom: 7px;
    }

    &__text {
        font-size: 1.2rem;
        color: rgba($black, .7);
        margin: 0;
        margin-bottom: 25px;

        a {
            text-decoration: none;
            color: $black;
        }
    }

    &__image {
        width: 40%;

    }

    &__photo {
        display: block;
        width: 60%;
        height: auto;
        padding: 0 1rem 0 1rem;
        margin-bottom: 8rem;
    }
}

.social {
    display: flex;
    margin-bottom: 5rem;

    a {
        display: block;
        text-decoration: none;
        color: $black;
        margin: 10px 20px 0 20px;
        transform: scale(2);

        span {
            width: 100px;
            height: 100px;
        }
    }
}

.works {
    padding: 1rem 0;

    &__title {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__nav {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        &-link {
            margin: 0 1.2rem;
            font-size: 0.8rem;
            color: rgba($black, .7);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    border-bottom: 1px solid $grey-light;

    &__row {
        box-sizing: border-box;
        flex-basis: 33.3333%;
        padding: 1rem;
    }
}

.work {
    box-shadow: 0 0 4px rgba(#000000, .25);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s linear;

    &:hover {
        box-shadow: 0 0 25px rgba(#000000, .25);
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__content {
        text-align: center;
        padding: 1rem 0.8rem ;
    }

    &__title {
        color: $black;
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
        font-weight: 500;
    }

    &__link {
        font-size: 1rem;


        a {
            color: $black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.about {
    padding: 2rem 0;

    &__row {
        display: flex;
        border-bottom: 1px solid $grey-light;
    }

    &__inspire {
        flex-basis: 33.33%;
        padding-right: 3rem;
    }

    &__title {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__descr {
        font-size: 1rem;
        color: rgba($black, .75);
        line-height: 1.4;
        margin: 0;
        margin-bottom: 2rem;
    }

    &__subtitle {
        font-size: 1.1rem;
        color: rgba($black, .9);
        margin: 0;
        margin-bottom: 0.5rem;
    }

    &__text {
        flex-basis: 66.66%;
        margin: 0 1.5rem 0 -1.5rem;
    }

    &__item {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 3rem;
        }
    }
}

.skills {
    padding: 1rem 0;

    &__row {
        display: flex;
    }

    &__inspire {
        flex-basis: 33.33%;
        padding-right: 3rem;
    }

    &__title {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__descr {
        font-size: 1rem;
        color: rgba($black, .75);
        line-height: 1.4;
        margin: 0;
        margin-bottom: 2rem;
    }

    &__subtitle {
        font-size: 1.1rem;
        color: rgba($black, .9);
        margin: 0;
        margin-bottom: 0.5rem;
    }

    &__text {
        flex-basis: 66.66%;
        margin: 0 1.5rem 0 -1.5rem;
    }

    &__item {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 3rem;
        }
    }
}

.footer {
    background-color: $black;
    padding: 1.35rem 0;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copyright {
        font-size: 1.1rem;
        color: white;
        margin-right: 1rem;
    }

    &__social {
        display: flex;
        flex-basis: 40%;
        justify-content: center;
        align-items: center;
    
        a {
            display: block;
            text-decoration: none;
            color: $white;
            margin: 10px 20px 0 20px;
            transform: scale(2);
    
            span {
                width: 100px;
                height: 100px;
            }
        }
    }

    &__nav {
        position: relative;
        display: flex;
        height: 100%;
    }
    
    &__nav-link {
        margin-left: 2rem;
        font-size: 0.93rem;
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
            
        &:hover {
            text-decoration: underline;
        }
    }
}

.modal {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 15, 49, .9);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;

    &__content {
        padding: 5rem 1rem;
    }

    &__title {
        font-size: 3rem;
        text-transform: uppercase;
        color: $black;
        font-weight: bold;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }

    &__image {
        display: block;
        width: 100%;
        margin: 0 auto;
        
        img {
            display: block;
            width: 100%;
            margin: 0;
        }
    }

    &__dialog {
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        background-color: #fff;
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 3rem;
        z-index: 1;
        font-size: 2.5rem;
        cursor: pointer;
        transition: transform .2s linear;

        &:hover {
            transform: rotate(90deg);
        }
    }
}

.modal-work {
    display: flex;

    &__preview {
        position: relative;
        width: 65%;
        overflow: hidden;
    }

    &__photo {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate3d(-50%, -50%, 0);
    }

    &__content {
        position: relative;
        width: 35%;
        padding: 3.5rem 6.5rem 1rem 2rem;
    }

    &__header {
        margin-bottom: 4rem;
    }

    &__title {
        font-size: 2.12rem;
        color: $black;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 1rem;
    }

    &__info {
        font-size: 1.2rem;
        color: $grey;
        margin-bottom: 1rem;
    }

    &__techno {

        &-title {
            font-size: 1.2rem;
            color: $black;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        &-descr {
            font-size: 1rem;
            color: $grey;
            margin-bottom: 3rem;
        }
    }

    &__text {
        font-size: 0.9rem;
        color: $grey;
        line-height: 2;
        margin-bottom: 5rem;
    }

    &__footer {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 0 1.5rem 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    &__btn {
        background-color: transparent;
        border: 0;
        padding: 0;
        font-size: 1rem;
        font-family: inherit;
        color: $black;
        text-transform: uppercase;
        cursor: pointer;

        &-prev {
            img {
                height: 1.5rem;
                margin-right: 1rem;
                margin-bottom: -0.3rem;
            }
        }

        &-next {
            img {
                height: 1.5rem;
                margin-left: 1rem;
                margin-bottom: -0.3rem;
            }
        }
    }
}

.timeline {
    position: relative;
    display: flex;
    margin: 4rem auto;
    width: 100%;
    min-width: 768px;

    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background-color: $black;
        top: 0;
        left: 50%;
        z-index: 2000;
    }


    &__col {
        width: 50%;
    }

    &__item {
        margin-bottom: 2.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        font-size: 1.2rem;
        color: $black;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 2.5rem;
    }

    &__date {
        display: block;
        text-decoration: underline;
        font-size: 1rem;
        color: $black;
        margin-bottom: 0.8rem;
    }

    &__subtitle {
        font-size: 1.1rem;
        color: $black;
        font-weight: bold;
        margin-bottom: 0.2rem;
    }

    &__position {
        font-size: 0.9rem;
        color: $black;
        font-style: italic;
    }

    &__text {
        font-size: 0.8rem;
        color: $grey;
        font-weight: thin;
        line-height: 1.5;
        margin-top: 1rem;
    }
}

.progress-bar {

    &__item {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    &__right {
        padding-left: 1.2rem;
    }

    &__title {
        font-size: 1rem;
        font-weight: thin;
    }

    &__bar {
        width: 9rem;
        height: 0.4rem;
        background-color: rgba($grey-light, .5);
    }

    &__progress {
        height: 100%;
        background-color: $grey;
        width: 70%;
    }
}

.modal-close {
    display: none;
}