// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap');

@import 'variables/colors';

html {
    font-size: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: $white;

}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem 0 1rem;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    vertical-align: top;
    background-color: rgba($grey-light, .5);
    color: $black;
    font-size: 1.06rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.1;
    width: 200px;
    padding: 15px 5px 15px 5px;
    margin: 0 5px 50px 5px;
    text-align: center;
    border: none;
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.8);
    }
}

.header {
    padding: 1.2rem 0;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid $grey-light;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.user {
    display: flex;

    &__avatar {
        width: 57px;
        height: 57px;

        img {
            border-radius: 100%;
        }
    }

    &__content {
        padding-left: 9px;
    }

    &__name {
        font-size: 1.06rem;
        line-height: 1.2;
        color: $black;
        font-weight: bold;
        margin-bottom: 3px;
    }

    &__prof {
        font-size: 0.8rem;
        color: rgba($black, .7);
    }
}

.navigation {
    position: relative;
    display: flex;
    height: 100%;

    &__link {
        margin-left: 2rem;
        font-size: 0.93rem;
        color: $black;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.about {
    padding: 130px 0 50px 0;

    &__row {
        position: relative;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid $grey-light;
    }

    &__content {
        width: 50%;
    }

    &__title {
        font-size: 2.5rem;
        color: $black;
        font-weight: 700;
        margin: 0;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: 2.13rem;
        color: $black;
        font-weight: 200;
        margin: 0;
        margin-bottom: 7px;
    }

    &__text {
        font-size: 1.2rem;
        color: rgba($black, .7);
        margin: 0;
        margin-bottom: 25px;

        a {
            text-decoration: none;
            color: $black;
        }
    }

    &__photo {
        position: relative;
        max-height: 450px;
        margin-bottom: 25px;
    }
}

.social {
    display: flex;
    margin-bottom: 5rem;

    a {
        display: block;
        text-decoration: none;
        color: $black;
        margin: 10px 20px 0 20px;
        transform: scale(2);

        span {
            width: 100px;
            height: 100px;
        }
    }
}

.skills {
    width: 100%;
    min-height: 200px;
    display: flex;
    padding: 35px 0 20px 0;
    margin-top: 60px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;

    &__about {
        max-width: 33.33%;
        margin-right: 40px;
    }

    &__title {
        font-size: 30px;
        margin: 0 0 10px 0;
    }

    &__descr {
        font-size: 16px;
        opacity: 0.8;
    }

    &__items {
        max-width: 66.66%;
        padding-left: -40px;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 320px;
        margin: 0 15px 0 15px;

        .item__title {
            font-size: 16px;
            opacity: 0.9;
            margin-bottom: 5px;
        }

        .item__descr {
            font-size: 16px;
            opacity: 0.8;
        }
    }

}

.experience {
    width: 100%;
    min-height: 200px;
    display: flex;
    padding: 35px 0 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;

    &__about {
        width: 33.333%;
        margin-right: 80px;
    }

    &__title {
        font-size: 30px;
        margin: 0 0 10px 0;
    }

    &__descr {
        font-size: 16px;
        opacity: 0.8;
    }

    &__places {
        width: 66.666%;
        padding-left: -40px;
    }

    &__item {
        margin-bottom: 25px;
        border-bottom: 1px solid #e3e3e3;

        &:last-child {
            border-bottom: none;
        }

        span {
            margin-left: 20px;
            color: rgb(88, 87, 87);
            font-size: 15px;
        }

        .item-title {
            font-size: 16px;
            opacity: 0.9;
            margin-bottom: 5px;
        }

        .item-time {
            font-size: 16px;
            opacity: 0.8;
            margin-bottom: 15px;
        }

        .item-descr {
            font-size: 16px;
            opacity: 0.8;
            margin-bottom: 25px;
        }
    }
}

.education {
    width: 100%;
    min-height: 200px;
    display: flex;
    padding: 35px 0 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;

    &__about {
        width: 33.333%;
        margin-right: 80px;
    }

    &__title {
        font-size: 30px;
        margin: 0 0 10px 0;
    }

    &__descr {
        font-size: 16px;
        opacity: 0.8;
    }

    &__places {
        width: 66.666%;
        padding-left: -40px;
    }

    &__item {
        margin-bottom: 25px;
        border-bottom: 1px solid #e3e3e3;

        &:last-child {
            border-bottom: none;
        }

        span {
            margin-left: 20px;
            color: rgb(88, 87, 87);
            font-size: 15px;
        }

        .item-title {
            font-size: 16px;
            opacity: 0.9;
            margin-bottom: 5px;
        }

        .item-descr {
            font-size: 16px;
            opacity: 0.8;
            margin-bottom: 25px;
        }
    }
}

.portfolio {
    width: 100%;
    min-height: 200px;
    padding: 35px 0 20px 0;
    margin-bottom: 20px;

    &__title {
        font-size: 30px;
        margin: 0 0 10px 0;
    }

    &__works {
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__item {
        width: 280px;
        height: 200px;
        margin: 20px;       

        a {
            text-decoration: none;
        }
    }

    &__link-work {
        display: block;
        cursor: pointer;
        color: #333;
        font-size: 16px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__link-github {
        display: block;
        background-color: #333;
        margin-top: 7px;

        &:hover {
            background-color: orange;
            color: #333;
            box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.8);
        }
        
        div {
            text-align: center;
            color: #fff;
        }
    }

    &__btn {
        background-color: #8f98c9;
        width: 100%;
        box-sizing: border-box;
        text-align: center;   

        &:hover {
            background-color: orange;
            color: #333;
            box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.8);
        }
    }
}

.footer {
    padding: 15px 0 15px;
    background-color: #efefef;
    text-align: center;
    font-size: 16px;
    color: #252525;
    opacity: 0.8;
}
